/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-image: url(../assets/spdm.jpg);
  background-size: 1000px;
  background-position: center;

  color: white; /* Sesuaikan dengan tinggi header Anda */
  position: relative; /* Diperlukan untuk overlay gradient */
}

/* Mengatur warna teks di dalam main */
main {
  color: white;
}
header {
  text-align: center;
  color: white;
  padding: 20px 0;

}

h1 {
  margin: 0;
  font-weight: bolder;
}


footer {
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  
  padding: 20px 0;
}

footer .col {
  display: flex;
  justify-content:center; /* Mengatur jarak antara tombol-tombol */
}

footer button {
  margin-right: 20px; /* Menambahkan jarak kanan di antara tombol-tombol */
}


#localVideo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Transparan hitam untuk efek overlay */
  position:fixed;
  bottom: 20px;
  left: 20px;
  width: calc(50% - 40px); 
  border-radius: 10px; 
  overflow: hidden; 
}

#localVideo-container video {
  width: 100%; 
  height: auto; 
}

#videos {
  padding: 20px; /* Ruang dalam */
}

#videoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Kolom responsif */
  gap: 20px; /* Jarak antar item */
}

.grid-container {
  border-radius: 10px; 
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.grid-item {
  position: relative;
}

.grid-item video {
  width: 100%; /* Mengisi lebar item */
  height: auto; /* Menjaga aspek rasio video */
}
